*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}

canvas{
  position: absolute;
  top: 50px;
  right: 80px;
  border: 1px solid black;
}

#article_list{
  background-color: black;
  width: 20%;
  height: 100%;
}

table{
  width: 100%;
  color: white
}

tr{
  margin: 10px 0 10px 0;
}
